@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Navbar */
header {
  background: #fff;
  border: 1px solid #e7e7e7;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
header nav a {
  margin-right: 2rem;
  padding: 0.5rem 1rem;
}
.btnLogin {
  background: var(--primary);
  border: 2px solid var(--primary);
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.btnLogout {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* Homepage */
.home {
  display: flex;
  height: 65vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.home a {
  color: #333;
  text-decoration: none;
}
.home-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #f8f8f8;
  width: 400px;
  height: 400px;
  border-radius: 5%;
  box-shadow: 0 10px 20px rgba(71, 71, 71, 0.08);
  transition: all 150ms ease;
}
.home-panel span {
  font-size: 5rem;
  padding: 2rem;
}
.home-panel h2 {
  color: var(--primary);
  margin: 0;
}
.home-panel p {
  color: rgb(83, 83, 83);
}
.home-panel:hover {
  box-shadow: 0 10px 20px rgba(71, 71, 71, 0.2);
  border: 1px solid var(--primary);
}

/* Volunteers page */
.volunteers {

}

/* Volunteer Details Component */
.volunteer-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  border: 1px solid #e7e7e7;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.volunteer-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.volunteer-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.volunteer-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* Volunteers Page */
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu h2 {
  color: #333;
}
.menu-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-buttons form {
  margin-right: 2rem;
}
.menu-buttons a {
  text-decoration: none;
}
.btnAdd {
  background: var(--primary);
  border: 2px solid var(--primary);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btnAdd span {
  margin-left: 5px;
}

/* Volunteer Form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}
.create {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.form-name {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
}
.name-inputs {
  width: 100%;
}
.name-inputs:first-child {
  margin-right: 30px;
}
.form-stateZip {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
}
.form-phone {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
}
.form-phone .name-inputs:last-child {
  margin-left: 30px;
}
.form-education {
  margin-bottom: 30px;
}